{# templates/lucky/number.html.twig #}
{% for value in users %}
<h1><a href="/user/{{value['id']}}">Member {{value['id']}}</a></h1>
name:{{ value['name'] }}
email is {{ value['email'] }}
{% endfor %}
