{# templates/default/new.html.twig #}
<html>
    <head></head>
    <body>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.password) }}
            <button type="submit" class="btn btn-primary">Sign in</button>
            {{ form_end(form) }}
    </body>
</html>
